motor
beanie
fastapi
uvicorn
numpy
python-multipart
albumentations
numpy==1.21.0
pandas==2.0.3
scikit-learn
torch
torchvision==0.16.1
pretrainedmodels
wtfml==0.0.2
requests
python-dotenv
torchtoolbox
matplotlib
efficientnet-pytorch